/* custom-styles.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100%;
    display: align-items;
    align-items: center;
    justify-content: center;
  }
  
  .MainContainer {
    width: 600px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    position: relative;
  }
  